<!-- start Simple Custom CSS and JS -->
<style type="text/css">
/* Add your CSS code here.

For example:
.example {
    color: red;
}

For brushing up on your CSS knowledge, check out http://www.w3schools.com/css/css_syntax.asp

End of comment */ 

.page-id-990 header{
	display:none;
}
.page-id-990 footer{
	display:none;
}
.page-id-1075 header{
	display:none;
} 
.page-id-1075 footer{
	display:none;
}
/* .ehf-header #masthead {
    z-index: 99;
    position: relative;
	display: none!important;
} */</style>
<!-- end Simple Custom CSS and JS -->
